body {
color: black;
font-family:  arial, Arial, Helvetica, sans-serif;

}
h1 { background-color: rgb(84, 60, 109);
     border: 1px solid;
     border-radius: 30px;
     text-align: center;
     margin-top: 30px;


}
h2 {
    color: saddlebrown;
    text-align: center;
    margin-left: 30px;
}

